/* SETTINGS  */

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* UTILITY */
.col-9{
    width: calc((100% / 12) * 9);
}

.col-3{
    width: calc(100% / 4);
}

.row{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

/* HEADER */
.page-header{
    background-color: #019687;
    height: 160px;
}

/* MAIN */

.page-main{
    background-color: #DBDAD5;
    height: calc(100vh - 160px);
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* SIDEBAR */

.sidebar{
    background-color: #EBE9EB;
}

.app-header{
    height: 60px;

}