/* SETTINGS  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    height: 100%;
}

/* UTILITY */
.col-9 {
    width: calc((100% / 12) * 9);
}

.col-3 {
    width: calc(100% / 4);
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.grow{
    flex-grow: 1;
}

.no-shrink{
    flex-shrink: 0;
}
/* HEADER */
.page-header {
    background-color: #019687;
    height: 160px;
}

/* MAIN */

.page-main {
    background-color: #DBDAD5;
    height: calc(100vh - 160px);
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* SIDEBAR */

.sidebar {
    background-color: #EBE9EB;
}

.app-header {
    height: 62px;
    padding: 0 12px;
}

.profile-img {
    border-radius: 999px;
    height: 75%;
    margin-right: 12px;
}

.sidebar-text {
    font-weight: 700;
    font-size: 14px;
}

.icon-grey{
    color: grey;
}

.sidebar-notification{
    background-color: #8EDAFD;
    padding: 0 12px;
    height: 65px;
}

.notification-icon{
    background-color: white;
    color: #8EDAFD;
    font-size: 18px;
    padding: 12px;
    border-radius: 999px;
    margin-right: 12px;
}

.sidebar-smaller-text{
    font-size: 12px;
    font-weight: 700;
}
