/* SETTINGS  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    height: 100%;
}

li,
ul,
ol {
    list-style: none;
}

/* UTILITY */
.col-9 {
    width: calc((100% / 12) * 9);
}

.col-3 {
    width: calc(100% / 4);
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

/* HEADER */
.page-header {
    background-color: #019687;
    height: 160px;
}

/* MAIN */

.page-main {
    background: rgb(221, 219, 210);
    background: -moz-linear-gradient(180deg, rgba(221, 219, 210, 1) 25%, rgba(211, 218, 222, 1) 75%);
    background: -webkit-linear-gradient(180deg, rgba(221, 219, 210, 1) 25%, rgba(211, 218, 222, 1) 75%);
    background: linear-gradient(180deg, rgba(221, 219, 210, 1) 25%, rgba(211, 218, 222, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddbd2", endColorstr="#d3dade", GradientType=1);
    height: calc(100vh - 160px);
    position: relative;
}

.container {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-main {
    display: flex;
    height: 90vh;
    width: 1250px;
}


/* SIDEBAR */

.sidebar {
    overflow: hidden;
}

.app-header {
    height: 62px;
    padding: 0 12px;
    background-color: #EBE9EB;
    border: 1px solid rgb(220, 217, 217);
}

.profile-img {
    border-radius: 999px;
    height: 75%;
    margin-right: 12px;
}

.sidebar-text {
    font-weight: 700;
    font-size: 14px;
}

.icon-grey {
    color: rgb(173, 172, 172);
}

.sidebar-notification {
    background-color: #8EDAFD;
    padding: 0 12px;
    height: 65px;
}

.notification-icon {
    background-color: white;
    color: #8EDAFD;
    font-size: 18px;
    padding: 12px;
    border-radius: 999px;
    margin-right: 12px;
}

.sidebar-smaller-text {
    font-size: 12px;
    font-weight: 700;
}

.contacts {
    background-color: white;
    overflow: auto;
}

.contacts-search-bar {
    padding: 6px;
    height: 40px;
    position: relative;
    background-color: white;
}

.contacts-search-bar input {
    background-color: white;
    width: 100%;
    border: none;
    height: 100%;
    padding-left: 66px;
}

.contacts-search-bar .icon-grey {
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%, -50%);
}

.search-bar-container {
    background-color: white;
    height: 100%;
    border: 1px solid rgb(244, 236, 236);
}

.contacts-card .card-text {
    color: rgb(159, 153, 153);
    font-size: 12px;
    font-weight: 600;
}

.contacts-card {
    height: 65px;
    padding: 6px;
    background-color: white;
    border: 1px solid rgb(243, 239, 239);
}

.contacts-card .card-name {
    font-weight: 700;
    font-size: 14px;
}

.contacts-card .card-img {
    border-radius: 999px;
    margin: 0 12px;
}

.last-msg-time {
    font-size: 10px;
    font-weight: 700;
    color: grey;
    align-self: flex-start;
    margin-left: auto;
}

.contacts-card:hover {
    background-color: #E9EAEB;
    border: 1px solid #dcdada;
}

.selected-contact {
    background-color: #E9EAEB;
    border: 1px solid #dcdada;
}

/* CHAT */

.chat {
    overflow: hidden;
}

.chat-history {
    background-image: url(/img/mine.jpg);
    background-repeat: repeat;
    padding: 30px 50px;
    row-gap: 8px;
    overflow: auto;
}

.message-input {
    background-color: #EBE9EB;
    height: 62px;
    padding: 6px;
    justify-content: space-between;
}

.chat .app-header .icon-grey {
    margin: 0 8px;
}

.message-input input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.message-input i {
    font-size: 22px;
    margin: 0 28px;
    color: rgb(88, 87, 87);
}

.message {
    padding: 16px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    max-width: 70%;
    white-space: normal;
}

.message-sent {
    background-color: #D7F9BC;
    align-self: flex-end;
}

.message-received {
    background-color: white;
    align-self: flex-start;
}

.message-time {
    color: rgb(188, 182, 182);
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-size: 8px;
}

.dropdown-message p {
    line-height: 20px;
    padding: 6px 12px;
}

.dropdown-message {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: white;
    font-size: 12px;
    color: rgb(108, 106, 106);
    box-shadow: 0px 2px 2px 0px rgb(100, 98, 98);
    border: 1px solid rgb(194, 192, 192);
    top: 18px;
    right: 8px;
    text-align: center;

}

.dropdown-menu {
    position: relative;
}

.displayed {
    display: block;
}

.dropdown-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 10px;
}

.dropdown-message li {
    margin: 6px 6px;
    white-space: nowrap;
}